script(src="https://code.jquery.com/jquery-3.1.1.js")
script(src="http://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.js")
script(src="http://cdn.jsdelivr.net/jquery.validation/1.15.1/additional-methods.js")
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")
script.
  document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] +
  ':35729/livereload.js?snipver=1"></' + 'script>')
script(src="./js/app.js")
